.h1 {
font-size: 100px;
position: relative;
top:-20px;
text-align: center;
text-decoration: underline;
text-decoration-color: cornflowerblue;
}

 .line{
 height:10px;    
background-color: black;  
position: relative;
top:-40px
}

.select{
position:relative;
background-color: rgba(88, 149, 215, 0.814);
text-align: center;
font-size:30px;
color: white;
height:50px;
border-radius:10px ;
}

.intro{
font-family:'Times New Roman';
font-size: 45px;
text-align:center;
text-decoration: underline;
}

.label{
font-size: 50px;
color:rgb(62, 62, 232);
}

.block{
text-align:center;
}

.p{
text-align: center;   
font-size:25px;
}

.p2 {
font-size:18px;
text-align: center;
}

.top{
height:90px;
position: relative;
background-color: rgba(175, 148, 148, 0.45);
top:-260px;
border:none;
}

.topnav {
 position: relative;
 width:100%;
 top:-652px;
 font-size:35px;
 text-align: right;
 }

.home{
color: black;
margin-right:5px;
}
.home:hover{
 opacity: 0.7;
}
.home:active{
opacity: 0.6;
}

.About{
margin-right: 5px;;
 }
 .About:hover{
    opacity: 0.7;
   }
   .About:active{
   opacity: 0.6;
   }

.Contact{

margin-right:15px;
}
.Contact:hover{
 opacity: 0.7;
 }
.Contact:active{
 opacity: 0.6;
}

.TOS {
position: relative;
font-size: 20px;
text-align: center;
margin-top:100px;
margin-right:10px;
padding-bottom:15px;
}
.TOS:hover{
   opacity: 0.7;
   }
  .TOS:active{
   opacity: 0.6;
  }

.break{
position: relative;
top:70px;
height:5px;
background-color:black;
}

